HELP.md
##target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Ignorar carpetas de frontend y otros proyectos
Visual Studio/nuevo proyecto/frontend/
Visual Studio/portfolio/frontend/
Visual Studio/portfolio/portfolio/




Visual Studio/nuevo proyecto/
